Repository thelia-templates/modernFront: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
    "*.js": "eslint --cache --fix",
    "*.css": "stylelint --fix",
    "*.{js,css}": "prettier --write"
}

update tailwind to v3
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

delete: comment on tailwind config
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

fix conflicts yarn.lock
  yarn.lock
Due: none

feature orders/sorts tailwind classes in a standard way
  .eslintcache
  .eslintignore
  .prettierrc.json
  .stylelintignore
  account-address.html
  assets/css/blocks.css
  assets/css/buttons.css
  assets/css/table.css
  assets/css/wysiwyg.css
  components/React/AddCoupon/index.js
  components/React/Address/AddressForm.js
  components/React/Address/CreateAddressModal.js
  components/React/Address/EditAddressModal.js
  components/React/Alert/index.js
  components/React/Checkbox/index.js
  components/React/Checkout/AddressBook.js
  components/React/Checkout/CheckoutBtn.js
  components/React/Checkout/DeliveryModes.js
  components/React/Checkout/DeliveryModules.js
  components/React/Checkout/PaymentModules.js
  components/React/Checkout/index.js
  components/React/Error/index.js
  components/React/Input/index.js
  components/React/Loader/index.js
  components/React/MiniCart/MiniCart.css
  components/React/MiniCart/MiniCart.js
  components/React/MiniLogin/MiniLogin.css
  components/React/MiniLogin/index.js
  components/React/PhoneCheck/index.js
  components/React/PickupMap/index.js
  components/React/PseSelector/index.js
  components/React/Select/index.js
  components/smarty/Address/Address.html
  components/smarty/Orders/Orders.css
  components/smarty/SearchDropdown/SearchDropdown.js
  components/smarty/Title/Title.css
  package.json
  tailwind.config.js
  webpack.config.js
  yarn.lock
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix undefined variable in php 8 (#2994)
  password.html
Due: none

remove config file from modern template
  configs/variables.conf
  layout.tpl
Due: none

add config options for the component smarty plugin
  template.xml
Due: none

Feature/various starter optimisation (#3007)
  components/React/Address/AddressForm.js
  components/React/Select/index.js
  includes/address-form.html
  order-delivery.html
Due: eslint --cache --fix, prettier --write

Change link <a> by <input type=submit> and append javascript initialization on order payment gateway
  I18n/cs_CZ.php
  I18n/de_DE.php
  I18n/el_GR.php
  I18n/en_US.php
  I18n/es_ES.php
  I18n/fa_IR.php
  I18n/fr_FR.php
  I18n/pl_PL.php
  I18n/pt_BR.php
  I18n/ru_RU.php
  I18n/sk_SK.php
  I18n/tr_TR.php
  order-payment-gateway.html
Due: none

fix footer cart position
  components/React/MiniCart/MiniCart.js
Due: eslint --cache --fix, prettier --write

Fix docker init and update it to php 8.1
  package.json
Due: none

Js lint
  components/React/MiniCart/MiniCart.js
Due: eslint --cache --fix, prettier --write

Fix various bug on modern template (#3009) (#3026)
  I18n/fr_FR.php
  assets/js/app.js
  components/React/Alert/index.js
  components/React/Checkout/DeliveryModes.js
  components/React/MiniCart/MiniCart.js
  components/React/PseSelector/index.js
  components/React/intl.js
  components/smarty/CategoryProducts/CategoryProducts.html
  components/smarty/Checkout/Checkout.css
  components/smarty/Newsletter/Newsletter.html
  components/smarty/ProductInfos/ProductInfos.html
  layout.tpl
  package.json
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix trailing coma in package.json
  package.json
Due: none

Added cross-env to build script
  package.json
Due: none

Added missing hooks in modern laout.tpl
  layout.tpl
Due: none

Switch licence to GPL
  LICENSE.txt
Due: none

fix domain
  layout.tpl
Due: none

fix: remove loader
  components/smarty/CategoryMenu/CategoryMenu.html
  components/smarty/Loader/Loader.html
Due: none

fix: keyboard navigation on lang select
  components/smarty/Header/Header.html
  components/smarty/LangSelect/LangSelect.html
Due: none

fix: tabindex search dropdown
  components/smarty/SearchDropdown/SearchDropdown.js
Due: eslint --cache --fix, prettier --write

fix phone input required status
  includes/address-form.html
Due: none

add attribute filtering in product loop
  components/smarty/CategoryMenu/CategoryMenu.html
Due: none

fix styling
  assets/css/sidebar.css
  assets/css/variables.css
  components/React/Checkout/Pages/Cart.js
  components/React/MiniCart/MiniCart.css
  components/React/MiniCart/MiniCart.js
  components/smarty/ProductGallery/ProductGallery.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix dropdown
  components/smarty/LangSelect/LangSelect.css
Due: stylelint --fix, prettier --write

css fixes
  assets/css/buttons.css
  assets/css/helpers.css
  assets/css/menu.css
  components/React/PseSelector/PseSelector.css
  components/React/Quantity/Quantity.css
  components/smarty/AccountCard/AccountCard.css
  components/smarty/BreadCrumb/BreadCrumb.css
  components/smarty/ContentCard/ContentCard.css
  components/smarty/FilterBtn/FilterBtn.css
  components/smarty/Header/Header.css
  components/smarty/Navigation/Navigation.css
  components/smarty/Pagination/Pagination.css
  components/smarty/ProductGallery/ProductGallery.css
  components/smarty/SingleProduct/SingleProduct.css
  components/smarty/SingleProduct/SingleProduct.html
  components/smarty/Tag/Tag.css
  components/smarty/Title/Title.css
  package.json
Due: stylelint --fix, prettier --write

fix greenit index
  assets/images/logo.svg
  assets/js/app.js
  components/React/MiniCart/MiniCart.js
  components/smarty/SingleProduct/SingleProduct.html
  webpack.config.js
Due: eslint --cache --fix, prettier --write

simplify scroll on sidebar
  assets/css/layout.css
  assets/css/sidebar.css
  components/React/MiniCart/MiniCart.css
Due: stylelint --fix, prettier --write

fix cache header
  components/smarty/Header/Header.html
Due: none

remove useless svg
  assets/images/logo.svg
  assets/svg-icons/logo.svg
Due: none

add missing translation
  I18n/fr_FR.php
  components/smarty/ProductGallery/ProductGallery.html
Due: none

fix php8
  components/smarty/Header/Header.html
Due: none

lower product on category page
  components/smarty/CategoryProducts/CategoryProducts.html
Due: none

add validation for city
  components/smarty/Alert/Alert.css
  components/smarty/Alert/Alert.html
  register.html
Due: stylelint --fix, prettier --write

fix navigation wrong indication of childrens
  components/smarty/Navigation/Navigation.css
  components/smarty/Navigation/Navigation.html
Due: stylelint --fix, prettier --write

fix various bugs
  I18n/fr_FR.php
  components/React/MiniLogin/index.js
  components/React/intl.js
  components/smarty/SearchDropdown/SearchDropdown.js
  contact.html
  layout.tpl
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

update front deps & fix delivery module title
  components/React/Checkout/DeliveryModules.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write
